@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Taller Productos</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bienvenido a mi desarrollo de taller</h2>
        <p>
            En esta aplicacion se mostrará el uso de Entity Framework en un proyecto de 
            ASP.NET MVC 5 web application.
        </p>
    </div>
  
</div>