@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Taller Productos</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bienvenido a mi desarrollo de taller, ni nombre es Benjamin Gomez con Carnet GA162760</h2>
        <p>
            En esta aplicacion se mostrará el uso de Entity Framework en un proyecto de 
            ASP.NET MVC 5 web application.
            Donde primero se agrega una categoria y con esa categoria se debe agregar el producto, el proyecto consta de un CRUD donde las restricciones son que si hay menos existencias a lo que se pide no deja ingresar y cuenta con filtrado
        </p>
    </div>
  
</div>